{% extends 'sidebar.html' %} {% block content %} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-end m-3">
      <img class="text-end m-3" />Welcome,<strong> {{user.name}}</strong>
      <a href="{% url 'userprofile_s' %}" required>
        <img
          src="{{user.profile_picture.url}}"
          style="height: 70px; width: 70px; border-radius: 50%"
      /></a>
    </div>
    <section class="container" style="padding-right: 30%;">
      <div  class="">
        <form method="POST" action="">
        {% csrf_token %}
        <h1 class="mt-0 display-3">Change Password</h1>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
       required
            name="op"
          />
          <label for="floatingInput">Old Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
          required
            name="np"

          />
          <label for="floatingInput">New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            name="cp"
required
          />
          <label for="floatingInput">Confirm Password</label>
        </div>
        
        <button
          type="submit"
          class="btn btn-warning text-dark-emphasis btn-lg d-grid col-6 mx-sm-auto"
        >
          Change Password
        </button>
      </form>
    </section>

    {% if msg == 1 %}
    <script type="text/javascript">
      alert("Password successfully changed");
    </script>
    {% endif %}

    {% if msg == 2 %}
    <script type="text/javascript">
      alert("old password not correct");
    </script>
    {% endif %}

    {% if msg == 3 %}
    <script type="text/javascript">
      alert("New pass and confirm pass not match");
    </script>
    {% endif %}
  </body>
</html>
{% endblock %}
