{% extends 'sidebar.html' %} {% block content %} {% load static %}
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'icofont/icofont.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/bootstrap.min.css' %}"
    />
  </head>
  <body>
    <div class="text-end m-3">
      <img class="text-end m-3" />Welcome,<strong> {{user.name}}</strong>
      <a href="{% url 'userprofile_s' %}" required>
        <img
          src="{{user.profile_picture.url}}"
          style="height: 70px; width: 70px; border-radius: 50%"
      /></a>
    </div>

    <div class="" style="padding-right: 15%">
      <h1 class="mt-0 display-3">Crops Production Analysis</h1>
      <h4 class="mt-4">Select a crop</h4>

      <div class="container text-center mt-5">
        <div class="row align-items-center">
          <div class="col">
            <div class="card" style="width: 18rem; background-color: #c2e0ff">
              <img
                src="{% static 'images/rice1.jpg' %}"
                class="card-img-top p-0"
                alt="..."
                style="height: 12rem; width: 18rem"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Rice: The World's Most Important Grain
                </h5>
                <p class="card-text">
                  Unveil the impact of Rice. World's main source of calories.
                </p>
                <a
                  href="{% url 'rice_link' %}"
                  class="link-dark link-offset-2 link-underline-opacity-0"
                  ><button
                    type="submit"
                    class="btn btn-warning text-dark-emphasis btn-lg d-grid col mx-sm-auto"
                    style="background-color: #ffcc00"
                  >
                    Explore Rice Data
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem; background-color: #c2e0ff">
              <img
                src="{% static 'images/maize1.jpg' %}"
                class="card-img-top"
                alt="..."
                style="height: 12rem; width: 18rem"
              />
              <div class="card-body">
                <h5 class="card-title">Maize: A Versatile Powerhouse</h5>
                <p class="card-text">
                  Unlock Maize data: Food security, biofuels and more.
                </p>
                <a
                  href="{% url 'maize_link' %}"
                  class="link-dark link-offset-2 link-underline-opacity-0"
                >
                  <button
                    type="submit"
                    class="btn btn-warning text-dark-emphasis btn-lg d-grid col mx-sm-auto"
                    style="background-color: #ffcc00"
                  >
                    Start Analyzing Maize
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem; background-color: #c2e0ff">
              <img
                src="{% static 'images/wheat1.jpg' %}"
                class="card-img-top"
                alt="..."
                style="height: 12rem; width: 18rem"
              />
              <div class="card-body">
                <h5 class="card-title">Wheat: The Backbone of Civilization</h5>
                <p class="card-text">
                  Dive into Wheat data: The backbone of diets worldwide.
                </p>
                <a
                  href="{% url 'wheat_link' %}"
                  class="link-dark link-offset-2 link-underline-opacity-0"
                >
                  <button
                    type="submit"
                    class="btn text-dark-emphasis btn-lg d-grid col mx-sm-auto"
                    style="background-color: #ffcc00"
                  >
                    Analyze Wheat
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <a
      class="weatherwidget-io"
      href="https://forecast7.com/en/31d6374d87/amritsar/"
      data-label_1="AMRITSAR"
      data-label_2="WEATHER"
      data-theme="original"
      style="margin-top: 20px; width: 90%"
      >AMRITSAR WEATHER</a
    > -->

    <!-- <script>
      !(function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = "https://weatherwidget.io/js/widget.min.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      })(document, "script", "weatherwidget-io-js");
    </script> -->

    {% endblock %}
  </body>
</html>
