{% extends 'sidebar.html' %} {% block content %} {%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maize Use Analysis</title>
  </head>
  <body>
    <section class="container" style="padding-right: 15%">
      <form method="POST" action="" class="" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="mt-5 display-3">Maize Use Analysis</h1>
        <br />
        <p style="padding-top: 20px;text-align: justify;font-weight: 500;padding-bottom: 40px;font-size: large;width: 100%;padding-right: 5%;">Using the dropdown menus below, select the two countries you wish to compare. This tool provides valuable insights into maize production dynamics, allowing you to analyze and contrast production levels, trends, and patterns between the selected countries across multiple years.</p>

        <select name="country1" class="form-select form-select-lg mb-4">
          <option selected>Select first country</option>
          {% for i in data %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <select name="country2" class="form-select form-select-lg mb-4">
          <option selected>Select second country</option>

          {% for i in data %}
          <option value="{{i}}">{{i}}</option>

          {% endfor %}
        </select>

        <button
          type="submit"
          class="btn btn-warning text-dark-emphasis btn-lg d-grid col-6 mx-sm-auto"
        >
          Enter
        </button>
      </form>
    </section>
  </body>
</html>
{% endblock %}
