{% extends 'sidebar.html' %} {% block content %} {%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maize Use Analysis</title>
  </head>
  <body>
    <section class="container" style="padding-right: 30%">
      <form method="POST" action="" class="" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="mt-5 display-3">Maize Use Analysis</h1>
        <br />
        <p style="padding-top: 20px;text-align: justify;font-weight: 500;padding-bottom: 40px;font-size: large;width: 100%;padding-right: 5%;">Maize, a cornerstone of agricultural systems worldwide, plays a crucial role in food security and economic development. In this interactive webpage, you'll have the opportunity to compare maize production trends across three countries over the years.Using the dropdown menus below, select the three countries you wish to compare.</p>

        <select name="country1" class="form-select form-select-lg mb-4">
          <option selected>Select first country</option>
          {% for i in data %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <select name="country2" class="form-select form-select-lg mb-4">
          <option selected>Select second country</option>

          {% for i in data %}
          <option value="{{i}}">{{i}}</option>

          {% endfor %}
        </select>
        <select name="country3" class="form-select form-select-lg mb-4">
          <option selected>Select third country</option>

          {% for i in data %}
          <option value="{{i}}">{{i}}</option>

          {% endfor %}
        </select>

        <button
          type="submit"
          class="btn btn-warning text-dark-emphasis btn-lg d-grid col-6 mx-sm-auto"
        >
          Enter
        </button>
      </form>
    </section>
  </body>
</html>
{% endblock %}
