{% extends 'base2.html' %} {% block content %} {%load static%}
<section
  class="container"
  style="margin-top: 5%; margin-bottom: 5%; margin-left: 10%"
>
  {% for i in data %}
  <div class="col mb-5">
    <h4
      style="
        font-size: 1.5rem;
        color: #666;
        margin-top: 0.5rem;
        font-weight: bold;
      "
    >
      NEWS
    </h4>
    <h1 class="fw-bold mb-3">{{i.title}}</h1>
    <h3
      class="mb-3"
      style="
        font-size: 1.2rem;
        color: #666;
        margin-top: 0.5rem;
        font-weight: normal;
      "
    >
      By {{i.sub_title}}
    </h3>
    <h4 style="font-size: 1rem; color: #666; margin-top: 0.5rem">
      By
      <span class="text-decoration-underline"> {{i.reporter}}</span> &#921;<span
        class="fw-medium"
      >
        Published on {{i.date}}</span
      >
    </h4>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-5">
      <img
        src="{{i.image.url}}"
        class="img-fluid"
        alt="{{i.title}}"
        style="width: 640px; height: 400px"
      />
      <figcaption class="figure-caption">PHOTO: {{i.photographer}}</figcaption>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="tab-pane fade show active">
      <p class="mt-3 fs-5">{{i.description}}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
