{% extends 'sidebar.html' %} {% block content %} {%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Population In Agricultue Analysis</title>
  </head>
  <body>
    <section class="container" style="padding-right: 20%">
      <form method="POST" action="" class="" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="mt-5 display-3">Population In Agricultue Analysis</h1>
        <br />
        <p style="padding-top: 20px;text-align: justify;font-weight: 500;padding-bottom: 40px;font-size: large;width: 100%;padding-right: 5%;">Use the form below to choose a country and specify the range of years you'd like to explore. Whether you're interested in tracing the evolution of agricultural labor or identifying patterns over time, this tool provides a comprehensive overview of the demographic dynamics within the agricultural sector.</p>

        <select name="country" class="form-select form-select-lg mb-4">
          <option selected>Select a country</option>
          {% for i in data %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <div class="row align-items-center mb-3">
          <div class="col-md-6">
            <select name="startyear" class="form-select form-select-lg mb-4">
              <option selected>Select an startyear</option>

              <option value="1991">1991</option>
              <option value="1992">1992</option>
              <option value="1993">1993</option>
              <option value="1994">1994</option>
              <option value="1995">1995</option>
              <option value="1996">1996</option>
              <option value="1997">1997</option>
              <option value="1998">1998</option>
              <option value="1999">1999</option>
              <option value="2000">2000</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
          </div>
          <div class="col-md-4">
            <select name="endyear" class="form-select form-select-lg mb-4">
              <option selected>Select an endyear</option>

              <option value="1991">1991</option>
              <option value="1992">1992</option>
              <option value="1993">1993</option>
              <option value="1994">1994</option>
              <option value="1995">1995</option>
              <option value="1996">1996</option>
              <option value="1997">1997</option>
              <option value="1998">1998</option>
              <option value="1999">1999</option>
              <option value="2000">2000</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-warning text-dark-emphasis btn-lg d-grid col-6 mx-sm-auto"
        >
          Enter
        </button>
      </form>
    </section>
  </body>
</html>
{% endblock %}
